<section class="depot_form">
  <h1>Please Enter Your Details</h1>
  <%= render 'form', order: @order %>

</section>
<!-- Mount point -->
<div id="react_hello"> hello sukhdev</div>

<!-- JS include -->
<%= javascript_include_tag "application", type: "module" %>
