@use "store" as *;
@use "carts" as *;
@use "order" as *;
body {
  margin: 0;
  padding: 0;
}
header.main {
  text-align: center; 
  @media (min-width: 30em) {
    text-align: left; 
  }
  background: #282;
  margin: 0;
  h1 {
    display: none;
  }
}
.content {
  margin: 0;
  padding: 0;
  display: flex;
  display:-webkit-flex;
  flex-direction: column; 
  @media (min-width: 30em) {
    flex-direction: row; 
  }
  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center; 
    @media (min-width: 30em) {
      text-align: left;
      padding: 1em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}
.products {
  margin: 0;
  padding: 0.5em;

  table {
    border-collapse: collapse;
  }

  tr.list_line_odd {
    background-color: #effeef;
  }

  td.image {
    display: none;
    @media (min-width: 30em) {
      display: block;
      img {
        height: 11.3em;
      }
    }
  }

  td.description {
    h1 {
      font-size: 1.4em;
    }
  }

  td.actions {
    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 0.5em 0.5em;
      }
    }
  }
  tfoot {
    td {
      padding: 0.5em 0;
    }
  }
}
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}
#cart {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0; 
    }
  }
}