<div id="<%= dom_id(product) %>" class="product-card transition">
  <h2><%= product.title %></h2>
  <p><%= number_to_currency(product.price) %></p>
  <%= image_tag product.image_url, width: 150 if product.image_url.present? %>
</div>
