<tr id="line_item_<%= line_item.id %>">
  <td><%= line_item.product.title %></td>
  <td class="quantity"><%= line_item.quantity %></td>
  <td>
    <!-- Decrement button for this specific item -->
    <%= button_to "–", decrement_line_item_path(line_item), method: :patch, remote: true %>
  </td>
</tr>

